p {
  /* 字体颜色为茶色 */
  color: maroon;
  font-size: 2rem;
}
h1,h2 {
  color:grey ;
  /* border-bottom: 1px solid black;*/
  font-size: 2.5rem;
}
h1 {
  border-bottom: 1px solid black;
  font-size: 2.3rem;
}
body {
  font-family: Arial;
  font-size: 1.5em;
}
em {
  font-family: "Cascadia Mono";
}
html {
  font-size: 15px;
}
body{
  /* 按名称 */
	color: mediumaquamarine;
	color: rgb(254, 204, 17);
	color: #FECC11;
	color: rgba(39,177,182,0.8);
	color: #eb507e;
}
p {
  font-style: italic;
}
html {
  text-decoration: none;
}