body { 
  background-color: #b5a789;
  font-family:      Georgia, "Times New Roman", Times, serif;
  font-size:        small;
  margin:           0px;
}

header.top {
  background-color: #675c47;
  margin:           10px;
  height:           108px;
}

.award{
  position: fixed;
  top: 30px;
  left: 45%;
  width: 100px;
  height: 100px;
  /*background-color: blue;*/
  animation: award 2s linear infinite; 
}

section.main {
  display: table-cell;
  background:       #efe5d0 url(images/background.gif) top left;
  font-size:        105%;
  padding:          15px;
  margin:           0px 250px 10px 10px;
  vertical-align: top;
}

section.main,section.blog {
	display: table-cell;
  background: #efe5d0 url(images/background.gif) top left;
  font-size: 105%;
  padding: 15px;
  vertical-align: top;
}

.sidebar {
  display: table-cell u;
  width:            200px;
  background:       #efe5d0 url(images/background.gif) bottom right;
  font-size:        105%;
  padding:          15px;
  margin:           0px 10px 10px 10px;
  vertical-align: top;
}

.coupon{
  position: fixed;
  top: 350px;
  left: -210px;/* 隐藏在左边 */
  transition: left 1.5s ease;/* 过渡效果 */
}

.footer {
  background-color: #675c47;
  color:            #efe5d0;
  text-align:       center;
  padding:          15px;
  margin:           10px;
  font-size:        90%;
  clear: right;
}

h1 {
  font-size:        120%;
  color:            #954b4b;
}

.slogan { color: #954b4b; }

.beanheading {
  text-align:       center;
  line-height:      1.8em;
}

a:link {
  color:            #b76666;
  text-decoration:  none;
  border-bottom:    thin dotted #b76666;
}
a:visited {
  color:            #675c47;
  text-decoration:  none;
  border-bottom:    thin dotted #675c47;
}

.allcontent {
	width:               800px;
	padding-top:           5px;
	padding-bottom:        5px;
	background-color:   #675c47;
  margin-left: auto;
  margin-right: auto;
}
div.tableContainer{
  display: table;
  border-spacing: 10px;
}
div.tableRow{
  display: table-row;
}
section.drinks {
  display: table-cell;
  background-color:  #efe5d0;
  padding: 15px;
}
.sprite-container {
  width: 260px; /* 显示的宽度为足够露出 Logo 和 slogan 为准 */ 
  height: 100%; /* 图片高度 */
  overflow: hidden; /* 隐藏溢出部分 */ 
}
.header-logo {
	background-image: url('images/header.gif');
	background-position-x: 0px;
	background-position-y: 0px; /* 没有任何偏移 */
}

.header-slogan {
	background-image: url('images/header.gif');
	background-position: -540px 0px; /* 向左偏移 */
  float: right;
}
.coupon a, img{
	border: none;/* 去掉边框 */
}
.coupon:hover{
	left: 0px;/* 鼠标悬停时显示 */
}
@keyframes award {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);  	
  }
}
nav {
  background-color: #efe5d0;
  margin: 10px 10px 0px 10px;
}

nav ul {
	margin: 0px;
	list-style-type: none;
	padding: 5px 0px 5px 5px;
}

nav ul li {
	display: inline;
	padding: 5px 10px 5px 10px;
}

ul li a:link, nav ul li a:visited {
	color: #954b4b;
	border-bottom: none;
	font-weight: bold;

	text-shadow: 1px 1px 3px #e2c2c2; 
	text-transform: uppercase;

}
nav ul li.selected {
	background-color:#b5a789;
}

video {
  display: inline-block;
}
